[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
yapf = "*"
isort = "*"
mypy = "*"
wheel = "*"
pytest-watch = "*"
pytest-mock = "*"
tox = "*"
jupyter = "*"
ipdb = "*"
pytest-mypy = "*"
pytest-cov = "*"
coverage = {extras = ["toml"],version = "*"}
pytest-xdist = "*"

[packages]
click = "*"  # shiv depends on this restriction
attrs = "*"
cattrs = "*"
python-dotenv = "*"
more-itertools = "*"
arrow = "*"
typing-extensions = "*"

[requires]
python_version = "3.6"
