[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
yapf = "*"
isort = "*"
mypy = "*"
wheel = "*"
pytest-mock = "*"
tox = "*"
pytest-mypy = "*"
pytest-cov = "*"
coverage = {extras = ["toml"],version = "*"}
pytest-xdist = "*"
pipenv-setup = "*"
tox-pyenv = "*"

[packages]
click = "*"  # shiv depends on this restriction
attrs = "*"
cattrs = "*"
python-dotenv = "*"
more-itertools = "*"
arrow = "*"
typing-extensions = "*"
toml = "*"
marshmallow = "*"
dotmap = "*"
deepmerge = "*"

[requires]
python_version = "3.6"
